table {
  background-color: #660000;
  width: 500px;
  height: 500px;
  color: white;
}

.row1 td:nth-child(3),
.row1 td:nth-child(5),
.row1 td:nth-child(7),
.row1 td:nth-child(9) {
  border: 1px solid black;
  background-color: black;
}

.row1 td:nth-child(2),
.row1 td:nth-child(4),
.row1 td:nth-child(6),
.row1 td:nth-child(8) {
  border: 1px solid white;
  background-color: white;
}

/* ROW 2 CSS */

.row2 td:nth-child(3),
.row2 td:nth-child(5),
.row2 td:nth-child(7),
.row2 td:nth-child(9) {
  border: 1px solid white;
  background-color: white;
}

.row2 td:nth-child(2),
.row2 td:nth-child(4),
.row2 td:nth-child(6),
.row2 td:nth-child(8) {
  border: 1px solid black;
  background-color: black;
}
